[Unit]
Description=Backup Daemon

[Service]
ExecStart=/home/evgenii/Desktop/Backup-main/build/Backup
Restart=always

[Install]
WantedBy=default.target
